$text__family--Roboto:  'Roboto', sans-serif;
$text__family--UniSans:  'Uni Sans', sans-serif;
$text__family--Press:  'Press', sans-serif;
$base__font-size: 16px !default;
$base__line: 30px !default;
$text__family--Roboto-Condensed: 'Roboto Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300);
@import url(https://fonts.googleapis.com/css?family=VT323);
@font-face {
    font-family: 'Uni Sans';
    src: url('/ui/uni-sans-heavy.otf') format('opentype'),
}
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $text__family--Roboto;
	font-size: $base__font-size;
  line-height: $base__line;
  color:#222;

}
a {
  color: inherit;
}
p {
  font-size:16px;
  line-height: 30px;
}
