#chat {
  height: 500px;
  width:100%;
  border:1px solid purple;
  float:left;
  padding:10px;
  line-height: 1.2rem;
  position:relative;
  overflow-y: scroll;
}
.chatWrap {
  float: left;
  width: calc(100% - 300px);
}
p {
  margin: 0;
}
.time {
  font-size: 11px;
  color: #9a9898;
}
textarea {
  width: 100%;
  outline: none;
  resize: none;
}
#users {
  float: left;
  color:white;
  height: 500px;
  border:1px solid purple;
  width: 30%;
  width: 300px;
}
#users p {
  padding:5px 10px;
}
.contentWrap {
  display:none;
}
.nick {
  color:indianred;
}
.typeAct {
  position: absolute;
  bottom:-50px;
  padding:10px;
  background: #a1a1a1;
  color:white;
  transition:all 500ms;
}
.typeAct.active {
  bottom:0;
}
#nickWrap {
  width: 189px;
  height: 200px;
  margin: 0 auto;
  margin-top: 22%;
}
